body{
    font-family: "Chakra Petch", sans-serif;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
}
.main{
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    height: 400px;
    width: 400px;
    margin-top: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
p{
    font-size: 1.25rem;
}
.btn{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    /* border: 3px solid rgb(0, 0, 0); */

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.a{
    background-color: rgb(255, 59, 59);
}
.a:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 15px rgba(255, 59, 59, 0.5);
    transition: transform 0.1s, box-shadow 0.1s;
}
.b{
    background-color: rgb(59, 157, 255);
}
.b:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 15px rgba(59, 157, 255, 0.5);
    transition: transform 0.1s, box-shadow 0.1s;
}
.c{
    background-color: rgb(255, 221, 59);
}
.c:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 15px rgba(255, 221, 59, 0.5);
    transition: transform 0.1s, box-shadow 0.1s;
}
.d{
    background-color: rgb(59, 255, 101);
}
.d:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 15px rgba(59, 255, 101, 0.5);
    transition: transform 0.1s, box-shadow 0.1s;
}
.flash{
    background-color: white;
    transform: scale(1.01);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.rrr{
    background-color: rgb(177, 173, 173);
}

button{
    margin-top: 40px;
    height: 60px;
    width: 270px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
