body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: black;
    color: rgb(255, 255, 255);
    height: 400px;
    width: 400px;
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    
}
.btn{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid rgb(68, 66, 66);

    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    background-color: brown;
}
.b{
    background-color: blue;
}
.c{
    background-color: rgb(208, 255, 0);
}
.d{
    background-color: rgb(0, 255, 34);
}
.flash{
    background-color: white;
}

.rrr{
    background-color: red;
}